.btn{
    padding: 12px 16px;
    margin-top: 18px;
    font-size: 14px;
    color: rgb(250, 241, 241);
    background-color: rgb(211, 59, 32);
    border:1;
    border-radius: 2px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(173, 115, 105);
}